In [1]:
#конект до бази

#цей код не вдастся перевірити, так як немає доступу до сервера
import pyodbc 

def connection_pyodbc():
    server = '0.0.0.0\BIGDATA_SQL2019'
    driver = '{ODBC Driver 17 for SQL Server}' #18
    connection = pyodbc.connect('DRIVER={}; SERVER={}; Trusted_connection=yes; TrustServerCertificate=yes;'.format(driver, server))
    #connection.autocommit = True
    return connection

print( connection_pyodbc())

<>:5: SyntaxWarning: invalid escape sequence '\B'
<>:5: SyntaxWarning: invalid escape sequence '\B'
/var/folders/tx/86rh89c14295d4lt_9_1h2sh0000gn/T/ipykernel_3622/3378070697.py:5: SyntaxWarning: invalid escape sequence '\B'
  server = '10.206.0.254\BIGDATA_SQL2019'
/var/folders/tx/86rh89c14295d4lt_9_1h2sh0000gn/T/ipykernel_3622/3378070697.py:5: SyntaxWarning: invalid escape sequence '\B'
  server = '10.206.0.254\BIGDATA_SQL2019'

ModuleNotFoundError: No module named 'pyodbc'

In [38]:
#1. Створіть функцію, яка підключається до бази MSSQL і робить селект 5 рядків з таблиці Northwind.dbo.Region за допомогою pyodbc
#  і повертає словник з цих значень.

def task_1():
    connection = connection_pyodbc()
    cursor = connection.cursor()

    cursor.execute("SELECT TOP (5) * FROM [Northwind].[dbo].[Region]") 
    records = cursor.fetchall()    
    cursor.close()
    connection.close()
    return dict(records)
# return dict

print( task_1() )

{1: 'Eastern                                           ', 2: 'Western                                           ', 3: 'Northern                                          ', 4: 'Southern                                          '}

In [56]:
#2 PyODBC - Створіть функцію, яка створює нову таблицю і заповнює її даними. 
# Назва таблиці має відповідати префіксу one_ і вашому сенс логіну за допомогою pyodbc. Наприклад one_VBurka. Використовуєте pyodbc

def task_2():
    connection = connection_pyodbc()
    cursor = connection.cursor()

    table_name = 'one_IAKozina'

    try:
        cursor.execute(f"""
            IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'Northwind.dbo.{table_name}') AND type in (N'U'))
            BEGIN
                CREATE TABLE Northwind.dbo.{table_name} (
                    id INT PRIMARY KEY IDENTITY(1,1),
                    Name NVARCHAR(100)
                )
            END
        """)
        connection.commit()

        cursor.execute(
            f"""
            INSERT INTO Northwind.dbo.one_IAKozina (Name)
            VALUES
            ('First Person'),
            ('Second Person'),
            ('Third Person')
        """
        )
        
        connection.commit()
        print(f"Таблиця '{table_name}' успішно створена.")

    except pyodbc.ProgrammingError as e:
        print(f"Виникла помилка при створенні таблиці: {e}")

    cursor.close()
    connection.close()

task_2()

Таблиця 'one_IAKozina' успішно створена.

In [48]:
import pyodbc

# Налаштування підключення до бази даних
connection = connection_pyodbc()
cursor = connection.cursor()

# Назва таблиці, яку потрібно створити
table_name = 'oone_IAKozina'

# SQL-запит для створення таблиці
#create_table_query = f"""
#    CREATE TABLE Northwind.dbo.{table_name} (
#        id INT PRIMARY KEY IDENTITY(1,1),
#        Name NVARCHAR(50)
#    )
#"""

try:
    # Спроба створення таблиці
    #cursor.execute(create_table_query)
    cursor.execute("""
        IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'Northwind.dbo.{table_name}') AND type in (N'U'))
        BEGIN
            CREATE TABLE Northwind.dbo.{table_name} (
                id INT PRIMARY KEY IDENTITY(1,1),
                Name NVARCHAR(100)
            )
        END
    """)
    connection.commit()
    print(f"Таблиця '{table_name}' успішно створена.")
except pyodbc.ProgrammingError as e:
    print(f"Виникла помилка при створенні таблиці: {e}")
finally:
    cursor.execute(
    """
    INSERT INTO Northwind.dbo.one_IAKozina (Name)
    VALUES
    ('First Person'),
    ('Second Person'),
    ('Third Person')
    """
    )
    connection.commit()
    # Закриття з'єднання
cursor.close()
connection.close()

Виникла помилка при створенні таблиці: ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server]Syntax error, permission violation, or other nonspecific error (0) (SQLExecDirectW)')

In [107]:
#3 PyODBC - Створіть функцію, яка видаляє запис з таблиці, створеної вами, three_вашЛогін і повертає елементи, які були видалені. Використовуєте pyodbc
def create_three_table():
    connection = connection_pyodbc()
    cursor = connection.cursor()

    cursor.execute("""
    IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'Northwind.dbo.three_IAKozina') AND type in (N'U'))
    BEGIN
        CREATE TABLE Northwind.dbo.three_IAKozina (
            id INT PRIMARY KEY IDENTITY(1,1),
            name NVARCHAR(100),
            age INT
        )
    END
    """)

    connection.commit()

    cursor.close()
    connection.close()
    

#create_three_table()

def insert_data():
    connection = connection_pyodbc()
    cursor = connection.cursor()

    cursor.execute(
    """
    INSERT INTO Northwind.dbo.three_IAKozina (name, age)
    VALUES
    ('First Person', 99),
    ('Second Person', 35),
    ('Third Person', 45),
    ('Fourth Person', 45),
    ('Fifth Person', 45)
    """
    )

    connection.commit()

    cursor.close()
    connection.close()

#insert_data()

def task_4():
    connection = connection_pyodbc()
    cursor = connection.cursor()

    cursor.execute("SELECT TOP (1) * FROM [Northwind].[dbo].[three_IAKozina]")
    row = cursor.fetchone()
    if row: 
        cursor.execute("DELETE FROM [Northwind].[dbo].[three_IAKozina] WHERE id = ?", (row[0],))
        connection.commit()   

        cursor.close()
        connection.close()

        return row

    cursor.close()
    connection.close()


print(task_4())

(41, 'First Person', 99)

In [62]:
#4 PyODBC - Створіть функцію, яка рахує кількість записів у таблиці [Northwind].[dbo].[Customers] за допомогою pyodbc і повертає це значення як число. 

def task_5():
    
    connection = connection_pyodbc()
    cursor = connection.cursor()

    cursor.execute("SELECT COUNT(*) FROM [Northwind].[dbo].[Customers]")
    result = cursor.fetchone()[0]
    cursor.close()
    connection.close()
    return result
    # return int

print(task_5())

97

In [109]:
#5 SQLAlchemy - Створіть функцію, яка підключається до бази MSSQL і робить вибірку перших 10 рядків з таблиці Northwind.dbo.Orders за допомогою SQLAlchemy. 
# Функція має повертати результат як список словників за допомогою SQLAlchemy.
import sqlalchemy
import pandas as pd

from sqlalchemy import create_engine, text

def connection_dhazardbp03_engine():
    driver = "ODBC Driver 17 for SQL Server"
    server = "10.206.0.254\\BIGDATA_SQL2019"
    database = "Northwind"
    connection_string = f"mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver={driver}"
    return create_engine(connection_string, echo=True)

def task_7():
    connect_engine = connection_dhazardbp03_engine()

    query = "SELECT TOP 10 * FROM Northwind.dbo.Orders"

    with connect_engine.connect() as connection:
        df = pd.read_sql_query(query, connection)
    return result
        
    # return list

result = task_7()
print(len(result))
#print(task_7())

2024-08-23 16:00:03,847 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2024-08-23 16:00:03,847 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-23 16:00:03,862 INFO sqlalchemy.engine.Engine SELECT schema_name()
2024-08-23 16:00:03,862 INFO sqlalchemy.engine.Engine [generated in 0.00326s] ()
2024-08-23 16:00:03,900 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2024-08-23 16:00:03,903 INFO sqlalchemy.engine.Engine [generated in 0.00182s] ()
2024-08-23 16:00:03,913 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2024-08-23 16:00:03,914 INFO sqlalchemy.engine.Engine [generated in 0.00097s] ()
2024-08-23 16:00:03,928 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-23 16:00:03,929 INFO sqlalchemy.engine.Engine SELECT TOP 10 * FROM Northwind.dbo.Orders
2024-08-23 16:00:03,930 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-23 16:00:03,937 INFO sqlalchemy.engine.Engine ROLLBACK
10

In [114]:
#6 SQLAlchemy  Створіть функцію, яка виконує транзакцію, яка робить 1 вставку нових значень в таблицю [Northwind].[dbo].[Customers] по всім полям,
# і де поле ContactName має містити ваш сенс логін за допомогою SQLAlchemy.
import sqlalchemy
import pandas as pd
from sqlalchemy.exc import IntegrityError

from sqlalchemy import create_engine, text

def connection_dhazardbp03_engine():
    driver = "ODBC Driver 17 for SQL Server"
    server = "10.206.0.254\\BIGDATA_SQL2019"
    database = "Northwind"
    connection_string = f"mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver={driver}"
    return create_engine(connection_string, echo=True)

def task_8():
    connect_engine = connection_dhazardbp03_engine()

    with connect_engine.connect() as connection:
        check_query = text("SELECT COUNT(*) FROM Northwind.dbo.Customers WHERE CustomerID = :CustomerID")
        result = connection.execute(check_query, {'CustomerID': 'TASK6'})
        count = result.scalar()

        if count == 0:
            insert_query = text("""
                    INSERT INTO Northwind.dbo.Customers 
                    (CustomerID, CompanyName, ContactName, ContactTitle, Address, City, Region, PostalCode, Country, Phone, Fax)
                    VALUES 
                    (:CustomerID, :CompanyName, :ContactName, :ContactTitle, :Address, :City, :Region, :PostalCode, :Country, :Phone, :Fax)
                """)
            connection.execute(insert_query,{
                    'CustomerID': 'TASK6', 
                    'CompanyName': 'Sense Bank', 
                    'ContactName': 'IAKozina',
                    'ContactTitle': 'Manager', 
                    'Address': 'Avenue', 
                    'City': 'Big City', 
                    'Region': 'North', 
                    'PostalCode': '900', 
                    'Country': 'Zamnia', 
                    'Phone': '0670987651', 
                    'Fax': '516'
            })

            connection.commit()

            print("Record inserted successfully.")
        else:
            print("Record with the same CustomerID  already exists.")


    # return None

task_8()

2024-08-23 16:14:29,777 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2024-08-23 16:14:29,777 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-08-23 16:14:29,792 INFO sqlalchemy.engine.Engine SELECT schema_name()
2024-08-23 16:14:29,792 INFO sqlalchemy.engine.Engine [generated in 0.00103s] ()
2024-08-23 16:14:29,833 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2024-08-23 16:14:29,834 INFO sqlalchemy.engine.Engine [generated in 0.00134s] ()
2024-08-23 16:14:29,852 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2024-08-23 16:14:29,852 INFO sqlalchemy.engine.Engine [generated in 0.00086s] ()
2024-08-23 16:14:29,874 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-08-23 16:14:29,875 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM Northwind.dbo.Customers WHERE CustomerID = ?
2024-08-23 16:14:29,876 INFO sqlalchemy.engine.Engine [generated in 0.00196s] ('TASK6',)
Record with the same CustomerID  already exists.
2024-08-23 16:14:29,899 INFO sqlalchemy.engine.Engine ROLLBACK

In [116]:
# 7 Pandas Створіть функцію, яка завантажує 10 рядків з таблиці Products і зберігає їх в нову таблицю eleven_вашЛогін.
import pandas as pd


def task_9():

    # Налаштування підключення
    server = '10.206.0.254\BIGDATA_SQL2019'
    database = 'Northwind'

    # Створення рядка підключення з довіреним з'єднанням
    connection_string = f'mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'

    # Створення об'єкта бази даних
    engine = create_engine(connection_string, echo=False)

    result_df = pd.read_sql_query('SELECT TOP 10 * FROM Northwind.dbo.Products', engine)

    my_table = 'eleven_IAKozina'

    result_df.to_sql(my_table, con=engine, if_exists='replace', index=False)
    
    # return None

task_9()

In [117]:
# 8 Pandas
#Створіть функцію, яка завантажує всі дані з таблиці Products, вибирає дані, які менші за 10 в колонці UnitPrice, і повертає ці значення як датафрейм.
import pandas as pd
from sqlalchemy import create_engine

def task_10():

    # Налаштування підключення
    server = '10.206.0.254\BIGDATA_SQL2019'
    database = 'Northwind'

    # Створення рядка підключення з довіреним з'єднанням
    connection_string = f'mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'

    # Створення об'єкта бази даних
    engine = create_engine(connection_string, echo=False)

    result_df = pd.read_sql_query('SELECT * FROM Northwind.dbo.Products', engine)

    return result_df[result_df['UnitPrice'] < 10]

    # return dataframe

print( task_10())

    ProductID                      ProductName  SupplierID  CategoryID  \
12         13                            Konbu           6           8
18         19       Teatime Chocolate Biscuits           8           3
22         23                         Tunnbröd           9           5
23         24               Guaraná Fantástica          10           1
32         33                          Geitost          15           4
40         41  Jack's New England Clam Chowder          19           8
44         45                      Rogede sild          21           8
46         47                    Zaanse koeken          22           3
51         52                         Filo Mix          24           5
53         54                        Tourtière          25           6
74         75             Rhönbräu Klosterbier          12           1

         QuantityPerUnit  UnitPrice  UnitsInStock  UnitsOnOrder  ReorderLevel  \
12              2 kg box       6.00            24             0             5
18  10 boxes x 12 pieces       9.20            25             0             5
22      12 - 250 g pkgs.       9.00            61             0            25
23      12 - 355 ml cans       4.50            20             0             0
32                 500 g       2.50           112             0            20
40       12 - 12 oz cans       9.65            85             0            10
44               1k pkg.       9.50             5            70            15
46       10 - 4 oz boxes       9.50            36             0             0
51       16 - 2 kg boxes       7.00            38             0            25
53               16 pies       7.45            21             0            10
74    24 - 0.5 l bottles       7.75           125             0            25

    Discontinued
12         False
18         False
22         False
23          True
32         False
40         False
44         False
46         False
51         False
53         False
74         False

In [119]:
#9 Pandas
#Створіть функцію, яка завантажує дані з таблиці Customers, відсортує їх і збереже в таблиці thirteen_вашЛогін.
import pandas as pd
from sqlalchemy import create_engine

def task_11():

    # Налаштування підключення
    server = '10.206.0.254\BIGDATA_SQL2019'
    database = 'Northwind'

    # Створення рядка підключення з довіреним з'єднанням
    connection_string = f'mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'

    # Створення об'єкта бази даних
    engine = create_engine(connection_string, echo=False)

    result_df = pd.read_sql_query('SELECT * FROM Northwind.dbo.Customers', engine)
    result_df.sort_values("ContactName", axis=0, ascending=True, inplace=True)

    my_table = 'thirteen_IAKozina'
    result_df.to_sql(my_table, con=engine, if_exists='replace', index=False)

task_11()

In [120]:
#10 Pandas
#Створіть функцію, яка рахує кількість записів у таблиці Employees за допомогою pandas і повертає це число.
import pandas as pd
from sqlalchemy import create_engine

def task_12():
    # Налаштування підключення
    server = '10.206.0.254\BIGDATA_SQL2019'
    database = 'Northwind'

    # Створення рядка підключення з довіреним з'єднанням
    connection_string = f'mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'

    # Створення об'єкта бази даних
    engine = create_engine(connection_string, echo=False)

    result_df = pd.read_sql_query('SELECT COUNT(*) AS EmployeeCount FROM Northwind.dbo.Employees', engine)
    #print(result_df['EmployeeCount'])
    return result_df['EmployeeCount'][0]

    # return int
print(task_12())

9

In [121]:
#11 Pandas
#Створіть функцію, яка завантажує дані з таблиці Products, множить кожне значення поля UnitPrice на 10, сумує ці значення і повертає середнє значення.
import pandas as pd
from sqlalchemy import create_engine

def task_13():

    # Налаштування підключення
    server = '10.206.0.254\BIGDATA_SQL2019'
    database = 'Northwind'

    # Створення рядка підключення з довіреним з'єднанням
    connection_string = f'mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'

    # Створення об'єкта бази даних
    engine = create_engine(connection_string, echo=False)

    result_df = pd.read_sql_query('SELECT "UnitPrice" FROM Northwind.dbo.Products', engine)
    result_df['UnitPrice'] *= 10
    result_mean = sum(result_df['UnitPrice'])/len(result_df['UnitPrice'])

    #print(result_df)

    return float(result_mean)

print (task_13())

288.66363636363633